.user {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 15em;
  padding: 1em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.avatar {
  width: 3em;
  height: 3em;
}

.username {
  margin-left: 1em;
}

.user:hover {
  background-color: #f0f0f0;
}
